body{
    background-color: sandybrown;
}
h1{
    color:red;
    text-align: center;
    
}
h4{
    color:purple;
    text-align: center;
}
p{
    color: royalblue;
    padding: 10px 10px 10px 10px;
    margin: 10px;
    
}